<% include ./partials/header %>

    <div class='ui main text container segment'>
        <div class='ui huge header'>Add a Review</div>
        <form class='ui form' action='/posts' method='POST'>
            <div class='field'>
                <label>Title</label>
                <input type='text' name='post[title]' placeholder='title'>
            </div>
            <div class='field'>
                <label>Album Cover</label>
                <input type='text' name='post[image]' placeholder='image'>
            </div>
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Perfect"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Outstanding"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Excellent"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Very Good"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Decent"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Average"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Mediocre"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Bad"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Awful"></label>
                <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Abysmal"></label>
            </fieldset>
            <div class='field'>
                <label>Review</label>
                <textarea name='post[body]'></textarea>
            </div>
            <input class='ui big positive basic button' type='submit'>
        </form>
    </div>

<% include ./partials/footer %>